<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<form method="POST" action="/blog/create">
    <label for="title">Title: </label>
    <input type="text" name="title" id="title">
    <br>
    <label for="announce">Announce: </label>
    <input type="text" name="announce" id="announce">
    <br>
    <label for="text">Text: </label>
    <textarea name="text" id="text" cols="100" rows="25"></textarea>
    <br>

    <input type="submit" value="Опубликовать пост">
</form>
</body>
</html>